.features {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  position: relative;
  padding: 100px 0;
}

.feature-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  max-width: 177px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.table {
  margin-bottom: 200px;
}

.table-column {
  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
}

.feature-text {
  max-width: 490px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}

.rocket {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 100;
  max-width: 300px;
}
